th{
    border: 20px solid blue;
}
td{
    border: 2px solid black;
}
p{
    background-color: azure;
}
a{
    background-color: bisque;
}
div{
    background-color: cornsilk;
}

.red{
    background-color: burlywood;
    
}
.bg-yellow{
    background-color: yellow;
}

#firstdiv{
    background-color: blue;
}

h1{
    background-color: lightskyblue;
    color: lightcyan
}